@charset "utf-8";
////////////////////////////////////////////////
// DARK BULMA
////////////////////////////////////////////////
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

//###################################
// Fonts
//###################################

$family-primary: "Carrois Gothic", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$button-font: "Carrois Gothic SC", $family-primary;

$button-family: $button-font;
$title-family: $family-primary;
$subtitle-family: $family-primary;

//###################################
// Pallete
//###################################

$custom-red: #D95757;
$custom-green: #AAD94C;
$custom-yellow: #E6B450;
$custom-blue: #59C2FF;
$custom-purple: #D2A6FF;
$custom-cyan: #39BAE6;
$custom-orange: #FF8F40;
$custom-teal: #008080;
$custom-black: #0B0E14;
$custom-grey: #ACB6BF;
$custom-white: #BFBDB6;

//###################################

@function normalize-colour($colour){
  @if (lightness($colour) < 40 and lightness($colour) > 25){
    @return $colour;
  }
  @if (lightness($colour) >= 40){
    @return change-color($colour, $lightness: 40%);
  }
  @return change-color($colour, $lightness: 25%);
}

@function darken-colour($colour){
  @return change-color($colour, $lightness: 20%);
}

@function lighten-colour($colour){
  @return change-color($colour, $lightness: 80%);
}

$black: $custom-black;
$black-bis: lighten($black, 5%);
$black-ter: lighten($black-bis, 5%);
$grey: $custom-grey;
$grey-dark: darken($grey, 5%);
$grey-darker: darken($grey-dark, 5%);
$grey-light: lighten($grey, 5%);
$grey-lighter: lighten($grey-light, 5%);
$white: $custom-white;
$white-bis: darken($white, 5%);
$white-ter: darken($white-bis, 5%);
$orange: $custom-orange;
$yellow: $custom-yellow;
$green: $custom-green;
$turquoise: $custom-teal;
$cyan: $custom-cyan;
$blue: $custom-blue;
$purple: $custom-purple;
$red: $custom-red;

$primary: normalize-colour($custom-teal);
$primary-dark: darken-colour($primary);
$primary-light: lighten-colour($primary);
$info: normalize-colour($yellow);
$info-dark: darken-colour($info);
$info-light: lighten-colour($info);
$success: normalize-colour($green);
$success-dark: darken-colour($success);
$success-light: lighten-colour($success);
$warning: normalize-colour($orange);
$warning-dark: darken-colour($warning);
$warning-light: lighten-colour($warning);
$danger: normalize-colour($red);
$danger-dark: darken-colour($danger);
$danger-light: lighten-colour($danger);
$light: $grey-lighter;
$dark: $grey-darker;
$scheme-main: $black;
$scheme-main-bis: $black-bis;
$scheme-main-ter: $black-ter;
$scheme-invert: $white;
$scheme-invert-bis: $white-bis;
$scheme-invert-ter: $white-ter;
$background: $scheme-main;
// $border: $grey-lighter;
$border: $grey-darker;
// $border-hover: $grey-light;
$border-hover: $grey-dark;
// $border-light: $grey-lightest;
// $border-light-hover: $grey-light;
$text: $white-bis;
$text-light: $white-ter;
$text-strong: $white;
// $code: darken($red, 15%);
// $code-background: $background;
// $pre: $text;
// $pre-background: $background;
$link: normalize-colour($blue);
$link-dark: darken-colour($link);
$link-light: lighten-colour($link);
// $link-visited: $purple;
$link-hover: lighten($link, 5%);
$link-hover-border: lighten($link, 5%);
$link-focus: darken($link, 5%);
$link-focus-border: darken($link, 5%);
$link-active: lighten($link, 5%);
$link-active-border: lighten($link, 5%);

// Box
$box-background-color: $black-ter;

// Card
$card-background-color: $black-ter;

// Modal
$modal-background-background-color: change-color($scheme-main, $alpha: 0.85);

// Title
$title-color: $primary-light;
$subtitle-color: $primary;

// Table
$table-background-color: $black-ter;

//###################################
// Sizes
//###################################

$footer-padding: 1.5rem;
